.formPostReview {
  margin: 5px auto;
  padding: 5px 20px 20px 20px;
  width: 90%;
  /* font-size: rem; */
}

.recommendInputs {
  display: flex;
  justify-content: space-between;
}

.textInput {
  display: block;
  margin-bottom: 10px;
  border: 1px solid black;
  width: 80%;
}

.formGroup {
  margin-top: 18px;
}

 .buttonStyle {
  width: 150px;
  height: 50px;
  padding: 10px;
  background-color:  #393e46;
  color: #FEFEFE;
  /* border: 1px solid #393e46; */
  margin-top: 20px;
  /* font-size: 2rem; */
}

.buttonStyle:hover {
  color: #393e46;
  cursor: pointer;
  background-color: #FEFEFE;
  border: 1px solid #393e46;
  box-shadow: 0 1px 1px rgba(0,0,0,0.11),
              0 2px 2px rgba(0,0,0,0.11),
              0 4px 4px rgba(0,0,0,0.11),
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11);
}



/* .buttonStyle {
  width: 150px;
  height: 45px;
  background-color: #FEFEFE;
  color: #393e46;
  border: 1px solid #393e46;
  margin-top: 20px;
}

.buttonStyle:hover {
  color: #FEFEFE;
  cursor: pointer;
  background-color: #393e46;
  box-shadow: 0 1px 1px rgba(0,0,0,0.11),
              0 2px 2px rgba(0,0,0,0.11),
              0 4px 4px rgba(0,0,0,0.11),
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11);
}
 */