.thumbnails {
  display: flex;
  width: 350px;
  flex-wrap: wrap;
}

.imageGallery {
  position: absolute;
  left: 8%;
  overflow: auto;
  white-space: nowrap;
  overflow-y: scroll;
  height: 550px;
}

@media (max-width: 320px) {
  .thumbnails {
    width: 100%;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .thumbnails {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .thumbnails {
    width: 100%;
  }
}

/* @media (min-width: 768px) {
  .thumbnails {
    width: 100%;
  }
} */

