.thumbnails {
  display: flex;
  width: 350px;
  flex-wrap: wrap;
}

.imageGallery {
  position: absolute;
  left: 8%;
  overflow: auto;
  white-space: nowrap;
  overflow-y: scroll;
  height: 550px;
}
