.containerList {
  width: 100%;
  margin: 30px 0 10px 0;
  font-size: 1rem;
}

.noMoreReviewMessage {
  margin: 20px 0 20px 0;
}

/* tablet view*/
@media (min-width: 576px) {
  .flex {
    display: flex;
  }
}

@media (min-width: 768px) {
  .containerList {
    width: 100%;
    margin: 0 0 10px 0;
    font-size: 1rem;
  }
  .flex {
    display: flex;
  }
}