.app {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-size: 62.5%;
  font-family: p22-underground, sans-serif;
  color: #373833;
  /*width: 90%;*/
  margin: 0 auto;
  max-width: 95%;
}

.section {
  height: 100%;
  margin: 5% 0;
}

/* styling for social media icons! */
a {
  color: #373833;
  font-size: 2rem;
}

a:hover {
  color: #C6AD8F;
}



/* colors!

background color: #FEFEFE
primary text color: #373833
secondary text color: #393e46
main color: #C6AD8F


card color: #EAEAEA

progress bar green color: #9ecca4;
*/