.app {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-size: 62.5%;
  font-family: p22-underground, sans-serif;
  color: #373833;
}

/* colors!

background color: #FEFEFE
primary text color: #373833
secondary text color: #393e46
main color: #C6AD8F

*/