.card {
  display: grid;
  grid-template-rows: 2fr 1fr;
  border: 1px solid black;
  margin: 20px;
  height: 300px;
  width: 175px;
}

.cardTop {
  grid-row: 1 / 2;
}

.image {
  object-fit: cover;
  height: 200px;
  width: 175px;
}

.cardBottom {
  grid-row: 2 / 3;
}

