.cards {
  display: flex;
  flex-direction: row;
  margin-bottom: 8%;
  font-size: 0.8rem;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.leftArrow, .rightArrow {
  cursor: pointer;
  width: 20px;
  flex-shrink: 0;
  align-self: center;
  transition: 0
}

.leftArrow img, .rightArrow img {
  width: 100%;
}

.leftArrow {
  margin-right: 40px;
}

.rightArrow {
  margin-left: 50px;
}

.carousel {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  max-width: 95%;
}

/************************************************************
MEDIA QUERIES
************************************************************/

@media(max-width: 575px) {
  .leftArrow, .rightArrow {
    width: 10px;
  }

  .leftArrow {
    margin-right: 10px;
  }

  .rightArrow {
    margin-left: 10px;
  }
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}