.cards {
  display: flex;
  flex-direction: row;
  margin-bottom: 8%;
  font-size: 0.8rem;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.leftArrow, .rightArrow {
  cursor: pointer;
  width: 20px;
  flex-shrink: 0;
  align-self: center;
  transition: 0
}

.leftArrow img, .rightArrow img {
  width: 20px;
}

.leftArrow {
  margin-right: 40px;
}

.rightArrow {
  margin-left: 50px;
}

.carousel {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  /* margin-bottom: 8%;
  font-size: 0.8rem;
  overflow: auto;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
  white-space: nowrap; */
}

/************************************************************
MEDIA QUERIES
************************************************************/

@media (min-width: 576px) {

}
/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {

}
/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {

}
/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {

}