.background {
  position: fixed;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0%;
	left: 0%;
	width: 100vw;
	height: 100vh;
}

.modal {
  position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 700px;
  max-width: 900px;
  height: auto;
	margin: 2.5%;
  background-color:#FEFEFE;
  font-size: 1rem;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin-bottom: 5%;
  font-weight: 600;
}

.current {
  grid-column: 1 / 2;
  margin: 0 auto;
}

.selected {
  grid-column: 3 / 4;
  margin: 0 auto;
}

.heading {
  display: block;
  margin: 20px;
}

.table {
  /* overflow: scroll; */
}

.featureRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin-bottom: 5%;
}

.currentColumn {
  grid-column: 1 / 2;
  margin: 0 auto;
}

.featureColumn {
  grid-column: 2 / 3;
  margin: 0 auto;
}

.selectedColumn {
  grid-column: 3 / 4;
  margin: 0 auto;
}

/************************************************************
MEDIA QUERIES
************************************************************/
@media (min-width: 576px) {

 }
/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {

 }
/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {

 }
/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {

 }