.heading {
  font-size: 2rem;
  margin-bottom: 1%;
}

/************************************************************
MEDIA QUERIES
************************************************************/

@media (max-width: 575px) {
  .heading {
    font-size: 1.3rem;
  }

  .relatedSection, .outfitSection {
    height: 100vh;
  }
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}
