.section {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.heading {
  font-size: 1.8rem;
  margin-bottom: 1%;
}

/************************************************************
MEDIA QUERIES
************************************************************/

@media (max-width: 575px) {
  .section {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .heading {
    font-size: 1.3rem;
    align-self: center;
  }
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}
