.textInput {
  display: block;
  margin-bottom: 10px;
  border: 1px solid #393e46;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  font-size: 2rem;
}


.radioInput {
  cursor: pointer;
  margin-right: 20px;
  margin-left: 10px;
  transform: scale(2);
}
