.textInput {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #393e46;
  border-radius: 5px;
  height: 20px;
  width: 100%;
}


.radioInput {
  cursor: pointer;
  margin-right: 50px;
}

.requiredField::after {
  content: "*";
  color: red;
  margin-left: 3px;
}
