.gallery {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.images {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  cursor: zoom-in;
}

.images:hover {
  cursor: zoom-in;
}

.imagesAndThumbnails {
  width: 500px;
  height: 650px;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
}

@media (max-width: 320px) {
  .gallery {
    width:120%;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .images {
    object-fit: cover;
    cursor: zoom-in;
  }
  .gallery {
    width:100%;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .images {
    object-fit: cover;
    cursor: zoom-in;
  }
  .gallery {
    width:103%;
  }
}

@media (min-width: 480px) and (max-width: 575px) {
  .images {
    object-fit: cover;
    cursor: zoom-in;
  }
  .gallery {
    width:100%;
  }
}


@media (min-width: 576px) {
  .gallery {
    width:100%;
  }
}


@media (min-width: 768px) {
  .gallery {
    width:71%;
  }
}

@media (min-width: 1200px) {
  .images {
    min-width: 130%;
  }
}