#ZoomImageFigure {
  background-image: no-repeat;
}

#ZoomImageFigure:hover img {
  opacity: 0;
}

#ZoomImage {
  display: block;
  width: 100%;
  pointer-events: none;
}

.panningWrapper {
  width: 100%;
}
/*
#onZoom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
} */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.image {
  width: 100%;
  height: 80vh;
  cursor: crosshair;
  object-fit: cover;
}


.imgWrapper {
  display: inline-block;
  overflow: scroll;
  max-height: 90%;
}

.imgWrapper img{
  transition: all .2s ease;
}

.onZoom {
  transform: scale(2.5);
}

.close {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 96.5%;
  top:1%;
  cursor: pointer;
}


.modalMain {
  position:fixed;
  background: white;
  width: 93%;
  height: 95%;
  top:50%;
  left:50%;
  z-index: 10;
  transform: translate(-50%,-50%);
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.displayBlock {
  display: block;
}

.displayNone {
  display: none;
}

.Indicators {
  display: flex;
  justify-content: center;
}

.indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #C6AD8F;
  margin: 3px;
  cursor: pointer;
}

.notSelected {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(129 126 126);
  margin: 3px;
  cursor: pointer;
}

@media (max-width: 320px) {
  .close {
    left: 90.5%;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .close {
    left: 91.5%;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .close {
    left: 91.5%;
  }

  .modalMain {
    width: 86%;
    left: 48%;
  }
}

@media (min-width: 480px) and (max-width: 575px) {
  .close {
    left: 93.5%;
  }
}

@media (min-width: 576px) {
  .modalMain {
    width: 91%;
    left: 49%;
  }

  .close {
    left: 94.5%;
  }
}

@media (min-width: 768px) {
  .modalMain {
    width: 98%;
  }
}

@media (min-width: 1200px) {
  .modalMain {
    width: 95%;
  }
  .close {
    left: 96.5%;
  }
}
