.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
}

.labelSize {
  text-align: center;
  font-size: 0.8rem;
  color: #393e46;
  margin-top: 8px;
}


.charRadio {
  cursor: pointer;
}