h1 {
  font-size: 2rem;
}

p {
  font-size: .9rem;
}

a {
  font-size: .7rem;
}

.colcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rowcontainer {
  display: flex;
  justify-content: space-around;
}

.hidden {
  display: none;
}

.Price {
  height: 90px;
  font-size: 1.7rem;
}

@media (max-width: 320px) {
  .rowcontainer {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .rowcontainer {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 480px) and (max-width: 575px) {
  .rowcontainer {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 639px) {
  .rowcontainer {
    display: flex;
    flex-direction: column;
  }
}
