.breakdownProgressBar {
  margin-right: 30px;
  width: 33%;
  /* margin-bottom: 30px; */
}

.breakdownProgressBarFrame {
  height: 25px;
  /* border: 1px solid black; */
  width: 100%;
  background-color: #EAEAEA;
  margin: 20px 0 20px;
  position: relative;
}

.breakdownProgressBarLabel {
  font-size: 2rem;
  text-align: center;

}

.progressBar {
  width: 30px;
  height: 35px;
  position: absolute;
  top: 6px;
}