.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.storeName {
  font-family: 'Cedarville Cursive', cursive, sans-serif;
  color: #C6AD8F;
}

.cart {
  width: 50px;
  height: 50px;
  position: relative;
}

.shoppingbag {
  width: 40px;
  height: 40px;
  position: relative;
}

.itemCount {
  position: absolute;
  right: 19%;
  top: 28%;
}
