.iRecommend {
  display: flex;
  align-items: center;
  margin: 20px 0 20px 0;
}

.iRecommendImg {
  width: 25px;
  margin-right: 5px;
}

.iRecommendText {
  /* font-size: 2.3rem; */
  color: #393e46;
}