.characteristicInputs {
  width: 100%;
  margin: 35px 0 0px 0;
}

 .radioRowTitle {
  padding-bottom: 10px;
  font-weight: 600;
  color: #373833;
  margin: 0 0 10px;
  border-bottom: solid 2px  #373833;
}

.radioRowTitle::after {
  content: "*";
  color: red;
  margin-left: 3px;
  font-weight: 400;
}
 .radioRow {
  color:  #373833;
  margin-bottom: 15px;
}

/* desktop view */
@media (min-width: 992px) {
  .radioRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
}
